################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspNetDistributedCaching/.vs
/AspNetDistributedCaching/bin/Debug/net8.0
